body{
    background-color: lightskyblue;
}


li{
    display: inline;
  }


ul {
    background-color: black;
    color: white;
}
  

a {
    float: right;
    padding: 9px 25px ;
    text-decoration: none;
}


.grey {
    background-color:rgb(191, 153, 237);
}


#myImage {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    cursor: pointer; 
  }